<div id="show-header-section">
  <div id="spot-show-title-time">
    <h1 id="spot-show-title"><%= @spot.spot %></h1>
    <h3 id="spot-show-time"><%= @spot.time_start %> - <%= @spot.time_end %></h3>
  </div>
    <h1 id="spot-show-location"><%= @spot.location %></h1>
</div>
