<div id="locationTimeContainer">
  <div id="spotLocation">
    <h3>Location : <%= @spot.location %></h3>
  </div>
  <div id="spotTime">
    <h3>Time : <%= @spot.time_start %> - <%= @spot.time_end %></h3>
  </div>
</div><hr>
