<h3 id="spot-show-lunchers-title" style="font-size=1.8vw">Post a comment</h3>
  <%= form_for ([@spot, @spot.comments.build]) do |f| %>
    <%= f.text_field(:content, autocomplete: 'off', id: 'show-comment-enter', :class => 'form-control') %>
    <%= f.submit({:id => 'show-edit-button'}) %>
  <% end %>
