
$meet-green: #25988b;
$meet-pink: #ecd7d6;
$meetdark-pink: #eab8b6;


h2 {
  font-size: 80px;
  font-style: bold;
  padding: 40px;
  text-align: center;
}

body.home {
  background-image:url("superfoods_infinite.png");
  box-sizing: border-box;
  -webkit-animation: slide 27s linear infinite;
  -webkit-background-size: cover;
}

@-webkit-keyframes slide {
  from { background-position: 0 0; }
  to { background-position: -400px 0; }
}

.html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-logo {
  background-color: white;
  color: #25988b;
  font-size: 10vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  // mix-blend-mode: screen; /* This makes the cutout text possible */
  // text-decoration: none;
}

.home-buttons-login {
  position: absolute;
  color: #ecd7d6;
  font-size: 3vw;
  margin: 0 auto;
  padding: 10px;
  width: 30%;
  text-align: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 0;
  border: none;
  text-decoration: none;
}
.home-buttons-signup {
  position: absolute;
  color: #ecd7d6;
  font-size: 3vw;
  margin: 0 auto;
  padding: 10px;
  width: 30%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 80%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%);
  outline: 0;
  border: none;

}
.home-buttons-signup:hover {
  color: #25988b;
  outline: none;
    border: none;
}
.home-buttons-signup:active {
  color: #25988b;
  outline: none;
  border: none;
}
.home-buttons-login:hover {
  color: #25988b;
  outline: none;
    border: none;
}
.home-buttons-login:active {
  color: #25988b;
  outline: none;
  border: none;
}

#close-button {
  font-size: 60px;
  font-style: bold;
  float: right;
}
#close-signin-button {
  font-size: 60px;
  font-style: bold;
  float: right;
}
#formGroupSignUp {
  color: white;
  text-align: center;
  display: none;
  position: fixed;
  z-index: 2;
  padding: 20px;
  padding-top: 50px;
  left: 50%;
  top: 50%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(#25988b, 1.0);
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 100vw;
  height: 100%;
  animation:fadein .5s
}

  #formGroupSignIn {
    color: white;
    text-align: center;
    display: none;
    position: fixed;
    z-index: 2;
    padding: 20px;
    padding-top: 50px;
    left: 50%;
    top: 50%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(#25988b, 1.0);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    animation:fadein .5s
    }


.popup-form {
  left: 50%;
  top: 50%;
  margin: 500px;
  margin-top: 100px;
}
  @keyframes fadein {
  	from {
  		opacity:0;
  	}
  	to {
  		opacity:1;
  	}
  }
//
  input.submit-button {
    font-weight: bold;
    background-color: white;
    font-size: 30px;
    color: #25988b;
    border: 0px;
    border-radius: 10px;
    width: 30%;
}
  input[type=submit]:hover {
    opacity: 0.5;
  }
  // input  {
  //   background-color: transparent;
  //   font-size: 30px;
  //   color: #ecd7d6;
  //   text-align: center;
  //   padding: 30px;
  //   border-style: solid;
  //   border-radius: 20px;
  //   border-width: 3px;
  //   border-color: white;
  //   outline: none;
  //   box-shadow:none !important;
  // }
  // input[type=text],input[type=email],input[type=username],input[type=password],input[type=password_confirmation]:active  {
  //   background-color: transparent;
  //   font-size: 30px;
  //   color: #ecd7d6;
  //   text-align: center;
  //   padding: 30px;
  //   border-style: solid;
  //   border-width: 3px;
  //   border-radius: 20px;
  //   border-color: white;
  //   box-shadow:none !important;
  // }


  // input::-webkit-input-placeholder {
  // color: $meetdark-pink!important;
  // font-size: 20px!important;
  // padding: 10px!important;
  // }

.diet-options {
  padding: 20px;
  margin-top: 30px;
  display: inline-block;
}
#icon {
  height: 60%;
  width: 60%;
  padding-bottom: 20px;
}
div.icon-hover {
  display: inline-block;
  width: 30%;
}

div.icon-hover:hover {
  display: inline-block;
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}
