// Place all the styles related to the spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$meet-green: #25988b;
$meet-pink: #ecd7d6;
$meetdark-pink: #eab8b6;


// SPOTS INDEX- HOME
.text-welcome-msg
{
  text-align: center;
  color: #25988b;
  font-size: 2.5vw;
  font-weight: lighter;
  padding:3vw;
  margin: 0;
}
.spot-title-time{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: $meet-pink;
  border-radius: 10px;
  margin-bottom: 15px;
  transition: 0.3s;
}
    #index-spot-title {
      color: $meet-green;
      text-decoration: none;
      font-weight: bold;
      font-size: 2.5vw;
      padding:10px;
      margin-bottom: 0;
    }
    #index-spot-time {
      color: $meet-green;
      padding: 10px;
      font-size: 1vw;
    }
    #index-spot-location {
      color: $meet-green;
      padding: 2%;
      font-weight: bold;
      padding-left: 0;
      font-size: 1.5vw;
    }
    #index-spot-date {
      color: $meet-green;
      font-weight: lighter;
      font-size: 1vw;
    }

  .index-spot-text {
    color: $meet-green;
    font-size: 20px;
  }
  .index-container{
    display: flex;
    // align-items: flex-end;
    // justify-content: flex-start;
    flex-wrap: wrap;
    // height: 100%;
    margin: 2%;
    margin-top: 0;
  }
  #redirect-to-spot
  {
    text-align:center
  }

.card-total {
  border-style: solid;
  border-width: thin;
  border-color: #d6d6d6;
  border-radius: 30px;
  width: 30vw;
  margin: 1%;
  padding: 10px;
  float: left;
  display: inline-block;
  transition: 0.3s;
  background-color: white;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

}
.card-body {
  padding: 10px;
}
.card-total:hover {
   background-color: $meet-green;
   border-color: transparent;
   #index-spot-title { color: white; text-decoration: none; }
   #index-spot-time { color: white; text-decoration: none; }
   #index-spot-location { color: white; text-decoration: none; }
   .index-spot-text { color: white; text-decoration: none; }
   #index-spot-date { color: white; text-decoration: none; }
   .spot-title-time { background-color: $meet-green; }


}

img#index-avatar {
  height: 0.3vw;
  width: 0.3vw;
}




// SPOTS SHOW- INDIVIDUAL SPOTS

#show-header-section {
  border-color: $meet-green;
  border-bottom-style: solid;
  border-width: 5px;
}
.spot-user-option {
  margin-top: 2%;
}
#spot-show-title-time
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97vw;
  margin: 0;
  color:$meet-green;
}
#spot-show-title
{
  font-size: 5vw;
  color: $meet-green;
  font-weight: bold;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 5px;
}
#spot-show-time {
  font-size: 3vw;

}
#spot-show-location, #spot-show-username, #spot-show-follower-username, #spot-show-lunchers-title
{
  font-size: 2vw;
  padding: 0;
  margin-left: 1.5vw;
  color:$meet-green;
  font-weight: bold;
  margin-bottom: 10px;
}
#spot-show-lunchers-title
{
  font-size: 2.5vw;
  padding-bottom: 15px;
  margin: 0;
}
#spot-show-username
{
  font-size: 3vw;
  margin: 0;
  text-align: center;
  padding: 20px;
}
#spot-show-follower-username
{
  font-size: 1vw;
  color: white;
  margin: 0;
}
#map
  {
    background-color: white;
    margin: auto;
    border-radius: 10px;
    height: 25vw;
    padding: 0;
  }
#spotMap
{
  padding: 10px;
  width: 100%;
  height: 100%;
}
#show-user-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 95vw;
  margin-left: 2%;
  margin-right: 2%;

}

    #show-edit-button,#show-delete-button {
      background-color: $meet-green;
      font-size: 0.8vw;
      border-radius: 10px;
      border-color: transparent;
      width: 9vw;
      height: 3vw;
      border: none;
      opacity: 1.0;
      transition: 0.3s;
      color: white;
      margin: 0.3vw;
    }
    #show-edit-button:hover {
      opacity: 0.5;
    }
    #show-delete-button:hover {
      opacity: 0.5;
    }
    #show-edit-button a {
      text-decoration: none !important;
      color: white;
    }
    #show-delete-button a {
      text-decoration: none !important;
      color: white;
    }
    #show-delete-button {
      background-color: $meetdark-pink;
      text-decoration: none !important;
      right: 0;
    }
    #spotInfo
    {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 30px;
      padding-top: 10px;
      padding-bottom: 10px;

    }
    #spotDetails
    {
      width:100%;
      border-color: $meet-green;
      border-style: solid;
      border-radius: 20px;
      height: 17vw;
      width: 100vw;
      padding: 2.7vw;
      color: $meet-green;
      font-size: 1.5vw;
      font-weight: lighter;
      font-style: italic;
      margin-right: 2%;
      margin-left: 2%;
      word-wrap: break-word;
    }
    #userProfilePicture
    {
      display: flex;
      align-items: center;
      font-size: 0.2vw;
      float: left;
    }
    #spot-show-followers-container
    {
      background-color: $meet-pink;
      border-radius: 10px;
      margin: 5.5vw;
      margin-top: 2vw;
      padding: 2vw;
    }
    #spot-show-lunchers-container {
      padding-bottom: 2vw;
    }
    #Lunchers{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
  }
    #eachLuncher
    {
      background-color: $meet-green;
      color: $meet-green;
      border-radius: 10px;
      padding: 0.9vw;
      margin: 0.2vw;
      margin-top: 0;
      width: 12vw;
      height: 3.2vw;
      text-align: center;
      font-size: 0.2vw;
    }

    #luncher-info
    {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

    }
  #spot-show-follower-info {
    display: flex;
  }
  img.diet-spot{
    width: 15%;
    height: 15%;;
  }
  #show-comment-enter
  {
    border-color: $meet-green;
    border-style: solid;
    border-radius: 10px;
    text-align: left;
    padding: 1vw;
    width: 83.5vw;
  }

#spot-comments-container
{
    padding-bottom: 2vw;

}
#comments-content
{
  background-color: $meet-green;
  border-radius: 10px;
  padding: 1.5vw;
  padding-bottom: 1vw;
  display: flex;
  justify-content: space-between;
  margin: 0.9vw;
}
  #comment-body
  {
    margin: 0;
    font-size: 1.5vw;
    width: 18vw;
    color: white;
  }













// USERS SHOW- PROFILE PAGE
.textalign
{
  text-align: center;
}
.formsizing
{
  width: 60%;
  margin: auto;
}





#locationTimeContainer
{
  width: 100%;
  padding:20px;
}
#spotTime
{
  margin-left: 75%;
}
#spotLocation
{
  margin-left: 3%;
  float: left;
}

#header
{
  width: 100%;
  float: left;
}


#JoinLocation
{
  float:left;
  margin-top: 20px;
  margin-left: 65%;
}
#MainContainer
{

}

#form-group
{
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 1px 1px 1px 2px #000000;
  background-color: white;
  width: 43%;
  margin: auto;
  border-radius: 10px;
}
.form{
  padding: 10px;
  text-align: center;
  margin: auto;
}
#avatar
{
  margin-left: 30%;
}

.choose-file {
  margin-left: 12%;
}

a.spot-title {
  font-size: 30px;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 40px;
}

.spot-title-time {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 20px;
}

p.spot-time {
  text-align: right;
}

.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.spot-followers {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.spot-user-options {
  padding-top: 10px;

}

.spot-user-option {
  padding: 5px;
}

.spot-follow-avatars {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.diet-spot{
  margin-left: 30px;
  width: 50px;
  height: 50px;
}


.floatleft
{
  float: left;
}
#buttonesEditDelete
{
  margin-left: 89%;
}

.mapsss {
  height: 100px;
  width: 100px;
  opacity: 1;
  transition: 1s;
}

.mapsss:hover {
  opacity: 0.5;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

.listsss {
  height: 100px;
  width: 100px;
  opacity: 1;
  transition: 1s;
}

.listsss:hover {
  opacity: 0.5;
  animation: shake 0.5s;
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
}

.listsss:focus {
  opacity: 0.5;
}

#mapsrender {
  height: 70%;
}

.map-picture {
  float: left;
  padding-right: 50px;
}

.all-picture {
  display: block;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}
.formwidth
{
width: 60%;
}

#formAddLuchSpot
{
  width: 60%;
  text-align: center;
  margin: auto;
}
#show-form-enter
{
  border-color: $meet-green;
  border-style: solid;
  border-radius: 10px;
  width: 59vw;
  margin-left: 0;
  margin-top: 0;
}
#datepicker
{
  border-color: $meet-green;
  border-style: solid;
  border-radius: 10px;
  width: 59vw;
  margin-left: 0;
  margin-top: 0;
}

#location1
{
  border-color: $meet-green;
  border-style: solid;
  border-radius: 10px;
  width: 59vw;
  margin-left: 0;
  margin-top: 0;
}
